.header {
  padding: 20px 0;
  font-family: 'Poppins'sans-serif;
  line-height: 1.571em;

  &__social {
    margin: 5px 5px 0 0;
  }
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.05);
}

.nav {
  &-list {
    display: flex;
    align-items: center;

    &__item,
    li {
      &:not(:last-child) {
        margin-right: 2px;
      }
    }

    &__link,
    a {
      padding: 10px 15px;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__item {
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__link {
    padding: 5px;
  }
}

.burger {
  display: none;
}