<footer class="footer">
  <div class="container_sm">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer__logo">
          <img src="./img/footer-logo.svg" alt="birds">
        </div>
      </div>
      <div class="col-lg-9">
        <nav class="nav footer__nav">
          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">
                About
              </a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">
                Symbolism
              </a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">
                Rarity
              </a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">
                Team
              </a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">
                Mint
              </a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">
                Contact
              </a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">
                FAQ
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-0">
        <p class="copyright">© 2022. All rights reserved.</p>
      </div>
      <div class="col-lg-6">
        <ul class="social footer__social">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#facebook">
                </use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#instagram">
                </use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#youtube">
                </use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#discord">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>