<header class="header">
  <div class="container_sm">
    <div class="row">
      <div class="col">
        <div class="header-row">
          <button class="burger">
            <span class="burger_item"></span>
            <span class="burger_item"></span>
            <span class="burger_item"></span>
          </button>
          <nav class="nav header__nav">
            <ul class="nav-list">
              <li class="nav-list__item">
                <a href="#about" class="nav-list__link">
                  About
                </a>
              </li>
              <li class="nav-list__item">
                <a href="./symbolism.html" class="nav-list__link">
                  Symbolism
                </a>
              </li>
              <li class="nav-list__item">
                <a href="#roadmap" class="nav-list__link">
                  Roadmap
                </a>
              </li>
              <li class="nav-list__item">
                <a href="#mint" class="nav-list__link">
                  Mint
                </a>
              </li>
              <li class="nav-list__item">
                <a href="#team" class="nav-list__link">
                  Team
                </a>
              </li>
              <li class="nav-list__item">
                <a href="#contact" class="nav-list__link">
                  Contact
                </a>
              </li>
              <li class="nav-list__item">
                <a href="#faq" class="nav-list__link">
                  FAQ
                </a>
              </li>
            </ul>
          </nav>
          <ul class="social header__social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="svg-social">
                  <use xlink:href="./img/svg/sprite-svg/sprite.svg#facebook">
                  </use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="svg-social">
                  <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                  </use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="svg-social">
                  <use xlink:href="./img/svg/sprite-svg/sprite.svg#instagram">
                  </use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="svg-social">
                  <use xlink:href="./img/svg/sprite-svg/sprite.svg#youtube">
                  </use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="svg-social">
                  <use xlink:href="./img/svg/sprite-svg/sprite.svg#discord">
                  </use>
                </svg>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</header>